* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: cozette, iosevka, otf-font-awesome, ProductSans-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
	letter-spacing: -1px;
}

window#waybar {
	background-color: #000000;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(255,255,255,0.1);
	color: #ffffff;
    /*box-shadow: inset 0 -4px #888888;*/
}

#workspaces button.focused {
    /*background-color: #64727D;*/
    color: #cc3060;
	/*box-shadow: inset 0 -0px #ff4080; #nuevo*/
    /*box-shadow: inset 0 -4px #d65d0e;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #800045;
    /*border-bottom: 3px solid #ffffff;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#sway-window,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 6px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
	/*border-bottom: 4px solid #222222;*/
}

#battery {
	background-color: transparent;
	color: #bb55bb;
	margin: 0px 0px 0px 4px;
}

#battery.charging, #battery.plugged {
	background-color: #bb55bb;
	border-bottom: none;
    /*color: #689d6a;*/
    color: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #bb2040;
   	background-color: transparent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
	background-color: transparent;
	color: #cc8844;
}

#memory {
    background-color: transparent;
    color: #338066;
}

#disk {
    background-color: transparent;
}

#backlight {
	background-color: transparent;
	/*color: #9aff00;*/
	color: #6655aa;
	border-bottom: 0px solid #6655aa;
	}

#network {
    /*background-color: #2980b9;*/
	background-color: transparent;
	color: #cc5533;
	margin: 0px 4px 0px 0px;
}
#custom-nmwtf {
    /*background-color: #2980b9;*/
	background-color: transparent;
	color: #cc5533;
	margin: 0px 0px 0px 4px;
}

#network.disconnected {
	background-color: #ff4066;
	border-bottom: none;
    color: #000000;
}
#bluetooth {
	color: #ff2800;
}
#bluetooth.disabled {
	border-bottom: 0px solid #444444;
	color: #444444;
}

#pulseaudio {
	background-color: transparent;
	color: #bb2040;
}

#pulseaudio.muted {
    background-color: rgba(255,255,255,0.1);
	border-bottom: 0px solid #888888;
    color: #ffffff;
}

#custom-media {
    background-color: #689d6a;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
	background-color: transparent;
	color: #447099;
}

#temperature.critical {
    /*color: #cc241d;*/
    color: #000000;
	border-bottom: none;
    background-color: #ff4066;
}

#tray {
	background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border-bottom: 0px solid #ff4066;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
#taskbar {
    background-color: rgba(0, 0, 0, 0);
    /*background: #4000aa;*/
    margin: 0 0px;
}
#clock,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#custom-media,
#tray,
#sway-window,
#mode,
#custom-date,
#bluetooth,
#idle_inhibitor {    
    /*padding: 0 10px;*/
    margin: 0px 4px;
}
